.blue {
  background-color: blue;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 200px;
  /*top: 200px;*/
  /*display: inline-block;*/
}

.yellow {
  background-color: yellow;
  height: 200px;
  width: 200px;
  /*position: fixed;*/
  position: absolute;
  /*left: 200px;
  bottom: 200px;*/
  /*display: inline-block;*/
}

.red {
  background-color: red;
  height: 200px;
  width: 200px;
  position: absolute;
  left: 400px;
  /*top: 400px;*/
  /*position: relative;
  left: 400px;
  bottom: 400px;*/
  /*display: inline-block;*/
}

body {
  margin: 0;
}
